<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Password reset &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>

</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
    {{ include "./navigation_bar.html" }}
    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <form class="form-horizontal" onsubmit="return false">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" type="password" placeholder="旧密码">
            <p id="emailInfo" class="help-block" style="display: none;"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="newPassword" class="form-control" name="newPwd" type="password" placeholder="新密码">
            <p id="newPwdErr" style="display: none;"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" class="form-control" name="confirmPassword" type="password" placeholder="确认新密码">
            <p id="confirmErr" style="display: none;"></p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button id="updPwd" type="submit" class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {{ include "./sidebar.html" }}

  <script src="/public/vendors/jquery/jquery.js"></script>
  <script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/public/vendors/layer/layer.js"></script>
  <script>NProgress.done()</script>
</body>
<script>
  $(function(){
    $("#old").focus();
  })
  $("#old").blur(function(){
    let oldPwd = $.trim( $(this).val() );
    $.get("/checkPwd",{"oldPwd":oldPwd},function(data){
      let {code,msg} = data;
      if(code == 200){
        $("#emailInfo").html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>'+msg).show();
      }else{
        $("#old").focus();
        $("#emailInfo").html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'+msg).show();
      }
    });
  });

  $("#updPwd").click(function(){
    let newPwd = $.trim( $("#newPassword").val() );
    let confirmPwd = $.trim( $("#confirm").val() );

    if(newPwd == ""){
      $("#newPassword").focus();
      $("#newPwdErr").html("新密码不能为空").show();
    }else if(confirmPwd == ""){
      $("#confirm").focus();
      $("#confirmErr").html("确认密码不能为空").show();
    }else if(newPwd != confirmPwd){
      $("#confirm").focus();
      $("#confirmErr").html("确认密码与新密码不一致").show();
    }else{
      $.post("/updatePwd",{"newPwd":newPwd},function(data){
        let {code,msg} = data;
        if(code == 200){
          layer.msg(msg+",即将返回新登录...", {
              time: 5000,
              shade: 0.6,
              success: function (layero, index) {
                  var msg = layero.text();
                  var i = 5;
                  var timer = null;
                  var fn = function () {
                      layero.find(".layui-layer-content").text(msg + '(' + i + ')');
                      if (!i) {
                          layer.close(index);
                          clearInterval(timer);
                      }
                      i--;
                  };
                  timer = setInterval(fn, 1000);
                  fn();
              },
          }, function () {
              location.href = "/login";
          });
        }else{
            layer.msg(msg,{icon:1});
        }
      })
    }
  });
</script>
</html>
